<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Run Here!</title>
	<link rel="stylesheet" href="style/bootstrap.min.css">
	<link rel="stylesheet" href="style/bootstrap-yeti.min.css">
	<link rel="stylesheet" href="style/style.css">
	
	<script src="js/jquery-2.1.4.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/underscore.js"></script>
	<script src="js/backbone.js"></script>
	<script src="js/main.js"></script>
	<script src="js/Chart.js"></script>

	<!-- HERE APIS -->
	 <link rel="stylesheet" type="text/css"
    href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
  	<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
 	<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  	<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  	<script type="text/javascript" charset="UTF-8"
    src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
    <script type="text/javascript" charset="UTF-8"
    src="js/maplogic.js"></script>
</head>

<body>

<script type="text/template" class="day-view">
	<h3><%= title %></h3>
	<div class="container">
		<div class="row">
			<div class="day-map-view col-md-4">
				<!--<img src="<%= staticRouteUrl %>" />-->
				<div id="<%= id %>" class="day-maps"></div>
			</div>	
			<div class="day-map-summary col-md-8">
				<strong><%= length %></strong><br />
				You should finish in: <em><%= etaTime %></em><br />
				Weather forecast: sunny
			</div>	
		</div>
	</div>
</script>

	<div class="container">
		<div class="row">
			<div class="map-view col-md-8 no-float" style="height:800px">
				<h1>Run Here!</h1>
				<div id="map" style="width:90%; height:60%; background:grey" ></div>
				<canvas id="heightMap" style="width: 90%; height: 400px"></canvas>
				<footer>
					Here hackathon!
				</footer>
			</div>
			<div class="day-view col-md-4 no-float">
				<h2>Day view</h2>
			</div>
		</div>
	</div>
</body>
</html>