.container {
    width: 100%;
    box-sizing: border-box;
}
.map-view {
	/*position: relative;*/
	width: 60%;
	height: 90%;
}

.day-view {
	background: #EEE;
	margin: 0;
	padding: 0;
}
.day-block {
	border-bottom: 1px dotted black;
	margin: 0;
	padding: 10px;
	padding-left: 30px;
	padding-bottom: 30px;
}
.day-block:hover {
	background: #F6F6F6;
	cursor: pointer;
}
.day-map-summary {
	font-size: 1.8em;
}
.day-map-summary strong {
	font-size: 1.4em;
}
h3 {
	margin 0;
}
.day-maps {
	height: 200px;
	weight: 200px;
}