.container {
    width: 100%;
    box-sizing: border-box;
}
.map-view {
}

.day-view {
	background: #EEE;
	margin: 0;
	padding: 0;
}
.day-block {
	border-bottom: 1px dotted black;
	margin: 0;
	padding: 10px;
}
.day-block:hover {
	background: #F6F6F6;
	cursor: pointer;
}
h3 {
	margin 0;
}